{:aliases
 {:dev
  {:extra-paths ["development/src"
                 "development/resources"]

   :extra-deps  {;; Bricks
                 polylith+integrant/app                    {:local/root "bases/app"}
                 polylith+integrant/config                 {:local/root "components/config"}
                 polylith+integrant/embedded-pg            {:local/root "components/embedded-pg"}
                 polylith+integrant/pg-ops                 {:local/root "components/pg-ops"}

                 ;; Clojure
                 org.clojure/clojure                       {:mvn/version "1.12.0"}

                 ;; Logging (Java)
                 org.apache.logging.log4j/log4j-api        {:mvn/version "2.24.3"}
                 org.apache.logging.log4j/log4j-core       {:mvn/version "2.24.3"}
                 org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.24.3"}

                 ;; Dev Tools
                 integrant/repl                            {:mvn/version "0.4.0"}}}

  :test
  {:extra-paths ["bases/app/test"
                 "bases/app/test-resources"
                 "components/config/test"
                 "components/embedded-pg/test"
                 "components/pg-ops/test"]}

  :run/test
  {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                      :git/sha "dfb30dd"}}
   :main-opts  ["-m" "cognitect.test-runner"]
   :jvm-opts   ["-Dclojure.main.report=stderr"]
   :exec-fn    cognitect.test-runner.api/test}

  ;; NB: This one is required for local development of any scripts (build, bb, etc.).
  :scripts
  {:extra-paths ["build.clj"]
   :extra-deps  {io.github.clojure/tools.build {:mvn/version "0.10.6"
                                                :exclusions  [org.slf4j/slf4j-nop]}}}

  :build
  {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.6"}}
   :ns-default build}}}
