{;; NB: It requires a PostgreSQL instance launched in the target env.
 :marksto.example.app.system/data-source
 {;; NB: Make sure the DB and role for the application already exist.
  :jdbc-url #ig/var DATABASE_URL

  ;; NB: Add below any other Hikari connection pool options you need.
  :cp-opts  {:poolName "conn-pool"}}}
