{:paths   ["src" "resources"]
 :deps    {;; System Mgmt
           integrant/integrant               {:mvn/version "0.13.1"}

           ;; Database
           org.postgresql/postgresql         {:mvn/version "42.7.5"}
           com.zaxxer/HikariCP               {:mvn/version "5.1.0"}
           com.github.seancorfield/next.jdbc {:mvn/version "1.3.994"}

           ;; Clojure Tools
           org.clojure/tools.logging         {:mvn/version "1.2.4"}
           org.clojure/tools.namespace       {:mvn/version "1.3.0"}}
 :aliases {:test {:extra-paths ["test" "test-resources"]
                  :extra-deps  {}}}}
