{;; NB: This is an embedded PostgreSQL instance used only for testing.
 :marksto.example.app.system/embedded-pg
 {:port     54321
  :log-file "log/embedded-pg.log"}

 :marksto.example.app.system/db
 {;; NB: It must be referenced in order to be initialized beforehand.
  :embedded-pg #ig/ref :marksto.example.app.system/embedded-pg

  ;; NB: Using the default Postgres user and database for simplicity.
  :jdbc-url    "jdbc:postgresql://localhost:54321/postgres?user=postgres"

  ;; NB: Add below any other Hikari connection pool options you need.
  :cp-opts     {:poolName "conn-pool"}}}
